<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>controller.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <display-name>training_center</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cours</display-name>
    <servlet-name>Cours</servlet-name>
    <servlet-class>controller.Cours</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cours</servlet-name>
    <url-pattern>/Cours</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NiveauxController</display-name>
    <servlet-name>NiveauxController</servlet-name>
    <servlet-class>controller.NiveauxController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NiveauxController</servlet-name>
    <url-pattern>/NiveauxController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalendrierController</display-name>
    <servlet-name>CalendrierController</servlet-name>
    <servlet-class>controller.CalendrierController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalendrierController</servlet-name>
    <url-pattern>/CalendrierController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlanningController</display-name>
    <servlet-name>PlanningController</servlet-name>
    <servlet-class>controller.PlanningController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlanningController</servlet-name>
    <url-pattern>/PlanningController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlanningDao</display-name>
    <servlet-name>PlanningDao</servlet-name>
    <servlet-class>dao.PlanningDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlanningDao</servlet-name>
    <url-pattern>/PlanningDao</url-pattern>
  </servlet-mapping>
</web-app>